@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
/* 非表示 */

/*4つの見出しcss*/
#pro{
  font-size:70px;
}
#works{
  font-size:70px;
}
#skill{
  font-size:70px;
}
#acount{
  font-size:70px;
}
/*フッター設定
---------------------------------------------------------------------------*/
footer small {font-size: 100%;}

footer {
	font-size: 0.6em;		/*文字サイズ*/
	background: #222;	/*背景色*/
	color: #999;			/*文字色*/
	text-align: center;		/*内容をセンタリング*/
	padding: 20px;			/*ボックス内の余白*/
  position: relative;
  z-index: 2;
}

/*リンクテキスト*/
footer a {color: #999;text-decoration: none;}

/*著作部分*/
footer .pr {display: block;}

/* ボタンのスタイル */
.page-top {
  /* buttonタグのリセットCSS */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;

  /* ボタンの装飾 */
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #115582;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* 矢印のスタイル */
.page-top::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-bottom: -6px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(-45deg);
}

/* ホバー時のスタイル */
.page-top:hover {
  transform: scale(1.1);
}

p {
  font-family: serif;
  color: #fff;
  
  margin: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.divText {
  text-align: center;
  position: relative;
  z-index: 2;
}

.centerText {
  text-align: center;
  width: 80%;
  font-family: serif;
  padding: 20px;
  font-size: 2rem;
  margin: auto;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.vi {
  background-image: url("../video/coverr_relaxing_tropical_beach_5075_1080p_seamless_loop.mp4");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}
.vi video{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  height: 200vh;
}
#mi li {
  font-family: "Caveat", cursive;
  font-size: 50px;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  margin-right: 30px;
}

#mi a {
  text-decoration: none;
  display: block;
  right: 50px;
  color:#d803f5; /*文字色*/
  padding: 5px 20px;
  cursor: pointer;
  cursor: hand; /*上下、左右へのメニュー内の余白*/
}

/*ブロック全体*/
#mi {
  right: 40px;
  font-size: 0.7em; /*文字サイズを親要素の70%にする*/
  position: fixed;
  z-index: 9999;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 10px; /*ヘッダーに対して、上からの配置場所の指定*/
}

/*profileのcss記述開始*/
.Profile{
  display:flex;
  text-align: center;
}
.hidari{
  width: 33%;
  height: 700px;
  margin-left: 50px;
  overflow: hidden;
  display: flex;
  color: #070607;
  z-index: 2;
}
.migi{
  width: 33%;
  height: 700px;
  margin-left: 0;
  overflow: hidden;
  display: flex;
  color: #070607;
  z-index: 2;
}
.hover-1{
  position: relative;
  &::before{
    content: attr(data);
    display: block;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: #d803f5;
    transition: width 300ms;
    width: 0;
  }
  &:hover{
    &::after{
      width: 100%;
    }
  }
}

.tyuou{
  width: 33%;
  height: 500px;
  margin-left: 0;
  overflow: hidden;
 
}

.tyuou h1.name{
  position: relative;
  z-index: 3;
  margin-right: 40px;
  font-family: 'Noto Serif JP', sans-serif;
  opacity: 0;
  color: rgb(47, 213, 17);
 
}
.tyuou h1.name.active{
  opacity: 1;
}
.tyuou img{ 
  
    width:  300px;       /* ※縦横を同値に */
    height: 300px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    display: inline-block;
    position: relative; 
    z-index:3;
    margin-right:60px;
}
.tyuou:hover img{
  transform: rotateY( 360deg );
  transition-duration: 3s;
}
/*記述終了*/

/*worksのcss記述開始*/
.workwork{
  display:flex;
  text-align: center;
}
.workwork p{
  color:rgb(241, 8, 74);
  font-size: 40px;
  padding-top:22px;
  font-family: Arial;
}
.work1{
  width: 50%;
  overflow: visible;
  position: relative;
}
.work1 img{ 
  
    width:  350px;       /* ※縦横を同値に */
    height: 350px;       /* ※縦横を同値に */
    border-radius: 10%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    position: relative; 
    z-index:3;
    transition-duration: 0.5s;
    
}
.work1:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
  cursor:pointer;
}
.work1 a{ 
  width:  350px;       /* ※縦横を同値に */
  height: 350px;       /* ※縦横を同値に */
  border-radius: 10%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  position: relative; 
  z-index:3;
  transition-duration: 0.5s;
  top: 30px;
}
.work1:hover a{
transform: scale(1.2,1.2);
transition-duration: 0.5s;
cursor:pointer;
}
.work2{
  width: 50%;
 
  overflow: visible;
}
.work2 img{ 
  
    width:  350px;       /* ※縦横を同値に */
    height: 350px;       /* ※縦横を同値に */
    border-radius: 10%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: left top;  /* 横長画像の左上を基準に表示 */
    
    position: relative; 
    z-index:3;
    transition-duration: 0.5s;
    
}
.work2:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 0.5s;
  cursor:pointer;
}
.work2 a{ 
  
  width:  350px;       /* ※縦横を同値に */
  height: 350px;       /* ※縦横を同値に */
  border-radius: 10%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */
  position: relative; 
  z-index:3;
  transition-duration: 0.5s;
  top: 30px;
}
.work2:hover a{
transform: scale(1.2,1.2);
transition-duration: 0.5s;
cursor:pointer;
}
/*記述終了*/

/*skillのcss記述開始*/
.Skill{
  display:flex;
  text-align: center;
}
.Skill img{
  width:250px;
  height: 250px;
  align-items: center;
}
.skill1{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill1 .yws_star{
    position:relative;
    font-size:30px;
    line-height:1em;
    letter-spacing:-.2em;
    color:#ccc;
    margin:0;
    padding:0;
  }
.skill1 .yws_star:before{
    content:"★★★★★";
    position:absolute;
    color:#f60;
    width:calc( 4em - .2 * ( 4em - .5em ) );
    overflow:hidden;
    white-space:nowrap;
  }
.skill2{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill2 .yws_star{
  position:relative;
  font-size:30px;
  line-height:1em;
  letter-spacing:-.2em;
  color:#ccc;
  margin:0;
  padding:0;
}
.skill2 .yws_star:before{
  content:"★★★★★";
  position:absolute;
  color:#f60;
  width:calc( 4em - .2 * ( 4em - .5em ) );
  overflow:hidden;
  white-space:nowrap;
}
.skill3{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill3 .yws_star{
  position:relative;
  font-size:30px;
  line-height:1em;
  letter-spacing:-.2em;
  color:#ccc;
  margin:0;
  padding:0;
}
.skill3 .yws_star:before{
  content:"★★★★★";
  position:absolute;
  color:#f60;
  width:calc( 4em - .2 * ( 4em - .5em ) );
  overflow:hidden;
  white-space:nowrap;
}
.skill4{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill4 .yws_star{
    position:relative;
    font-size:30px;
    line-height:1em;
    letter-spacing:-.2em;
    color:#ccc;
    margin:0;
    padding:0;
  }
.skill4 .yws_star:before{
    content:"★★★★★";
    position:absolute;
    color:#f60;
    width:calc( 3em - .2 * ( 3em - .5em ) );
    overflow:hidden;
    white-space:nowrap;
  }
.skill5{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill5 .yws_star{
  position:relative;
  font-size:30px;
  line-height:1em;
  letter-spacing:-.2em;
  color:#ccc;
  margin:0;
  padding:0;
}
.skill5 .yws_star:before{
  content:"★★★★★";
  position:absolute;
  color:#f60;
  width:calc( 2em - .2 * ( 2em - .5em ) );
  overflow:hidden;
  white-space:nowrap;
}
.skill6{
  width : calc(100% / 3) ;
  z-index: 2;
}
.skill6 .yws_star{
  position:relative;
  font-size:30px;
  line-height:1em;
  letter-spacing:-.2em;
  color:#ccc;
  margin:0;
  padding:0;
}
.skill6 .yws_star:before{
  content:"★★★★★";
  position:absolute;
  color:#f60;
  width:calc( 2em - .2 * ( 2em - .5em ) );
  overflow:hidden;
  white-space:nowrap;
}
/*記述終了*/

/*Acountのcss記述開始*/
.Acount{
  display:flex;
  text-align: center;
}
.Acount img{
  width:200px;
  height: 200px;
  align-items: center;
}
.acount1{
  width :100%;
  z-index: 2;
}


.area{
  overflow: hidden;
}
.wrap{
  display: flex;
}

/*リンクテキスト全般の設定
---------------------------------------------------------------------------*/
a {
  color: #070607; /*文字色*/
  transition: 0.3s;
}

#mi a:hover {
  
  opacity: 0.7; /*マウスオン時に70%の透明度にする*/
  margin-right: 10px;
  
}
.kansho {
  transition: 0.3s;
}

.kansho:hover {

  opacity: 0.7; /*マウスオン時に70%の透明度にする*/
  
  
}
/*タイムライン全体の設定*/
.timeline{
	max-width: 400px;
	width:100%;
	margin:50px auto;
	padding:0 30px;
}

.timeline li{
    /*線の起点とするためrelativeを設定*/
    position: relative;
	list-style: none;
	padding:0 0 20px 0;
}

.timeline dl{
	margin:0 0 20px 3em;
  margin-left:0;
}
.timeline dd{
	margin:0 0 20px 3em;
  margin-left:30;
  font-size: 14px;
  font-weight: bold;
}

/*タイムライン2全体の設定*/
.timeline2{
	max-width: 400px;
	width:100%;
	margin:50px auto;
	padding:0 30px;
}

.timeline2 dt{
	margin:0 0 20px 3em;
  margin-left:0;
  text-align: left;
  font-size:30px;
  -webkit-text-stroke:1px #070607;
  color:rgb(191, 0, 255);
}
.timeline2 dd{
	margin:0 0 20px 3em;
  margin-left:30;
  font-size: 25px;
  font-weight: bolder;
}
/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
	position: absolute;
	left:0.2em;
	top:0;
	width:3px;/*線の太さ*/
	height:0;/*はじめは高さを0に*/
	background: #cddb06;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:10px;
	height: 10px;
	background:#666;
	border-radius: 50%;
}





@media screen and (min-width: 768px) {

	body{
		font-size: 23px;
	}

	.wrap{
		width: 960px;
	}

    .pc{
        display: block;
    }

}


/* -------------------- */
/* -------- kv -------- */
/* -------------------- */


.kv{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.kv .main-copy{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    letter-spacing: .2em;
}

.kv .sub-copy{
    color: #fff;
    font-size: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) {

    .kv{
        min-width: 960px;
    }

	.kv .main-copy{
		font-size: 60px;
	}

	.kv .sub-copy{
        font-size: 30px;
        margin-top: 10px;
	}

}


